body{
    margin: 0;
    font-family: 'Josefin Sans', sans-serif;
    line-height: 1.5;
    font-weight: 800;
}
.top{
    display: flex;
    width:100%;
}
.intro{
    width:40%;
    margin:5%;
}
.intro img{
    width:60%;
}
.head{
    font-size: 50px;
    font-weight: 700;
    padding-left: 10px;   
    line-height: 0.9;
}
#effect{
    border-left: 6px solid aquamarine;
    border-radius: 5px;
    font-size: 40px;
}
.intro p{
    color:black;
    margin-bottom:25px;  
}
.link-design{
    background: rgb(221, 129, 107);
    padding: 15px 25px;
    text-decoration: none;
    color: white;
}
#extra{
    margin-top: 30px;
}
#color-it{
    color:darkcyan;
}
.top-bottom{
    width:100%;
}
.top-bottom h1{
    text-align: center;
}
.box{
    display: flex;
    width:80%;  
    margin-left: 10%;
}
#one h3, #two h3, #three h3{
    margin-left: 8px;
}
#one p, #two p, #three p{
    margin-left: 8px;
}
#one{
   background-color: coral; 
   padding:5px;
   margin-left: 40px;
   border-radius: 10px;
}
#two{
    background-color: chocolate;
    padding:5px;
    margin-left: 4px;
    border-radius: 10px;
}
#three{
    background-color: cornflowerblue;
    padding:5px;
    margin-left: 4px;
    border-radius: 10px;
}
.middle{
    display: flex;
    width: 100%;
    margin-top: 100px;
}
.design{
    width:40%;
    margin-left: 5%;
}
.design img{
    width:60%;
    margin-left: 24%;
}

.design p{
    color:black;
    font-size: 20px;
    text-align: left;
    margin-bottom: 40px;
}
.middle-low{
    display: flex;
    width: 100%;
    margin-top: 100px;
}
.middle-low p{
    margin-left: 50px;
}
.middle-low h1{
    margin-left: 50px;
}
.middle-low a{
    margin-left: 50px;
}
.as-your-wish h1{
    text-align: center;   
}
.as-your-wish h3{
    font-size: 30px;
}
.as-your-wish p{
    font-size: 25px;
    font-weight: 300;
}
.as-your-wish{
    margin-left: 5%;
}
footer{
    background-color: cornflowerblue; 
    text-align: center;
    font-style: italic;
}
footer h2{
    font-family: 'Lobster', cursive;
    font-size: 70px;
    color: white;
}
footer p{
    font-size: 20px;
}
#c-change{
    color:brown
}